@let local = articulosState();
<table mat-table [dataSource]="local" class="mat-elevation-z8">


  <ng-container matColumnDef="saleId">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.saleId}} </td>
  </ng-container>


  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Codigo </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>



    <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

   <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> <img style="padding-top: 10px;" src="{{element.image}}" width="100px"  alt="{{element.description}}"> </td>
  </ng-container>

 <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha | date:'short'}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>