<mat-tab-group>
 <mat-tab label="Tiendas">
  <ng-template matTabContent>
   <app-tiendas></app-tiendas>
  </ng-template>
</mat-tab>
<mat-tab label="Articulos">
  <ng-template matTabContent>
    <app-articulos></app-articulos>
  </ng-template>
</mat-tab>
<mat-tab label="Articulos en Tienda">
  <ng-template matTabContent>
 <app-art-tienda></app-art-tienda>
  </ng-template>
</mat-tab>

<mat-tab label="Clientes">
  <ng-template matTabContent>
 <app-client></app-client>
  </ng-template>
</mat-tab>


</mat-tab-group>